body {
     margin: 0px;
     padding: 0px;
     height: calc(100vh - 3px);
     border: solid 1px orange;
}

.main-store-div {
     border: solid 1px black;
     height: 100%;
     display: flex;
     flex-direction: column;
}

/*
   TOP DIV
   CONTAINS STORE TITLE, CART, HOME ICON AND MORE
*/
.main-store-top-div {
    border: solid 1px green;
    height: 60px;
    display: flex;
    flex-direction: row;
}

.main-store-top-store-div-left, .main-store-top-store-div-right, .main-store-top-store-div-centre {
    flex-grow: 1;
    border: solid 1px blue;
}
.main-store-top-store-div-right {
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.main-store-top-store-div-left {
     display:flex;
     justify-content: flex-start;
     align-items: center;
}

.main-store-work-area {
    border: solid 1px red;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
}

.design-selection-main-container{
    background: #f2f2f2;
    height: 100%;
    flex-grow: 2;
}

.design-selection-selected-design-container {
    background: #dda6e0;
    height: 100%;
    flex-grow: 1;
}