@()

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <meta charset="UTF-8">
        <title>BLKMGK</title>
    </head>
    <body>
        <div class="main-store-div">
            <div class="main-store-top-div">
                <div class="main-store-top-store-div-left"></div>
                <div class="main-store-top-store-div-centre"></div>
                <div class="main-store-top-store-div-right"></div>
            </div>
            <div class="main-store-work-area">

            </div>
        </div>
    </body>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/main.js")"></script>
</html>